@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*index*/

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  min-height: 64px;
  margin: 0;
}

.page-header-logo {
  margin: 0 30px -6px 70px;
  height: 70px;
  width: 140px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 339px;
  height: 64px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}
.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
}
.homepage {
  height: 64px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
}
.about-sedone {
  width: 114px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
}
.hotels {
  width: 125px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
}
.navigation-user {
  display: flex;
  align-items: center;
  max-width: 268px;
  margin: 0;
  padding: 0 70px 0 285px;
}

.page-main {
  background-image: url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  height: 57px, 485px;
}
.page-main-logo {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #000000;
  height: 352px;
  width: 458px;
  padding: 51px 371px 25px;

}
.main-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.section-description{
  width: 650px;
  height: 123px;
  text-align: center;

padding: 69px 275px 90px;

}
.sedona-description {
  font-size: 22px;
  line-height: 26px;

}

.advantages {
  box-sizing: border-box;
}

.dark-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list {
  display:  flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-title-benefits {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 182px;
}

.flex-box{
  width: 400px;
  height: 384px;

}
.benefits-flex-box{
width: 400px;
height: 384px;
}
.white {
  padding-top: 92px;
}

.black {
  padding-top: 103px;
}

.advantages-description {
  font-weight: 400;
  padding: 0 85px 102px;
}

.vector-house {
  background-image: url("../images/cottadge.svg");
  background-repeat: no-repeat;
background-position: center top 80px;
}
.vector-food {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
background-position: center top 80px;
}

.vector-souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
background-position: center top 80px;
}

.sedona-description-advantages {
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0 85px 81px;
}

.sedona-city {
  background-color: #83b3d3;
  margin: 0;
 display: block;
}

.benefits-white {
  background-color: #ffffff;
}

.benefits-dark-sky-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.benefits-sky-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
.devils-bridge {
  background-color: #ffffff;
  background-size: 100% auto;
}
.sedona-sity img,
.devils-bridge img {
  height: 100%;
  object-fit: cover;
}
.section-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 406px;
  text-align: center;
}
.interest {
  width: 297px;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin: 0;
}

.sedona-interest {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  width: 592px;
}
.interest-button {
  width: 375px;
  height: 52px;
  margin-top: 54px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-blur.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 415px auto;
  text-align: center;
  margin: 0;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 20px;
  margin: 0;
  width: 404px;
}
.newsletter-form {
  display: flex;
  align-items: center;
  margin-bottom: 104px;
  width: 684px;
  height: 52px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 475px;
  padding-bottom: 54px;
  margin: 0;
}
.field {
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  border-color: #ffffff;
  margin: 0;
  padding: 0;
}
.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 200px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 10px 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 120px;
  margin: 0;
  padding: 45px 70px 35px;

}
.footer-social-list {
  list-style-type: none;
}
.social-list {
  width: 142px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 331px;
}
.logo-html-academy{
  width: 115px;
  height: 33px;
}
/*Catalog*/

.sedona-hotels-filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 412px;
  margin: 0;
  padding: 0;
}
.hotels-filter {
  width: 1060px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 35px 70px 70px;
}
.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  height: 113px;
}
.sedona-hotels-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 114px;
  height: 21px;
  gap: 11px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.breadcrumbs-link-homepage{
  width: 13px;
  height: 15px;
}

.breadcrumbs-link-hotels{
  width: 73px;
  height: 21px;
}
.catalog-main-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 167px;
}
.catalog-filter {
  height: 149px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 70px;
}
.catalog-filter-infrastructure {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 157px;
}
.catalog-filter-title {
  display: block;
  padding-bottom: 32px;
}
.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 115px;
  height: 23px;
}
.catalog-filter-type-house{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 157px;
}

.filter-price {
  display: flex;
  gap: 70px;
  padding: 0;
  height: 148px;
}
.catalog-filter-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 288px;
  height: 160px;
}
.price{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-input{
  width: 143px;
  height: 48px;
  border-radius: 4px;
}
.range-input{
  width: 287px;
}
.button-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
  gap: 32px;
}
.apply {
  background-color: #82b3d3;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
}
.reset {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  text-transform: none;
  width: 191px;
  height: 36px;
  padding: 8px 57px;
}
.search-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 0;
}
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 200px;
}
.show-icon {
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  gap: 8px;
}
.show-icon {
   display: flex;
  flex-direction: row;
  gap: 8px;
}.button-show {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-table{
  border: 2px solid #000000;
  border-radius: 4px;
}
.catalog-column{
  width: 1060px;
  height: 896px;
  padding-top: 40px;
  padding-right: 70px;
  padding-left: 70px;
}
.hotels-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.hotels-image {
  object-fit: cover;
  padding: 20px 20px 16px;
}
.hotels-card-link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0 20px 16px;
}
.type-price {
  display: flex;
  column-gap: 20px;
  padding: 0 20px 16px;
}
.hotels-card-type {
  display: inline-block;
  margin: 0;
  width: 140px;
}
.hotels-card-price {
  display: inline-block;
  margin: 0;
  width: 140px;
}
.link-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px 16px;
}
.hotels-card-more {
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.button + .hotels-card-favorites {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.button + .hotels-card-favorites-checked {
  background-color: #7db54f;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.image-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 0 20px 20px;
}
.rating-stars {
  display: block;
  align-items: center;
  margin: 0;
  width: 140px;
}
.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 140px;
  height: 37px;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.white-background {
  background-image: none;
  background-color: #ffffff;
}
.subscribe-black {
  color: #000000;
}
